<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oculus.vsm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/vsmlogoblueremovebgpreview"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VSM22">
        <activity android:name="com.oculus.vsm.EndActivity"></activity>
        <activity
            android:name="com.oculus.vsm.WaitingActivity2"
            android:exported="false" />
        <activity android:name="com.oculus.vsm.OnBoardingActivity" />
        <activity android:name="com.oculus.vsm.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.oculus.vsm.WaitingActivity" />
        <activity android:name="com.oculus.vsm.SponsorsActivity" />
        <activity android:name="com.oculus.vsm.SelectorActivity" />
        <activity android:name="com.oculus.vsm.LoginActivity" />
        <activity android:name="com.oculus.vsm.MainActivity" />
    </application>

</manifest>